# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [30]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import json
import numpy as np
import requests
import gmaps
import os
# Import API key
from api_keys import (weather_api_key, g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [31]:
# import the weather data for the cities from WeatherPy homework
# Load the csv exported in Part I to a DataFrame
weather_cities_data = pd.read_csv("../WeatherPy/weather_data.csv")
weather_cities_data

,City,Latitude,Longtude,Temperature,Max Temperature,Humidity,Clouds,Wind Speed
0,Cape Town,-33.9258,18.4232,46.87,48.61,73,40,3.00
1,Rikitea,-23.1203,-134.9692,73.11,73.11,57,35,15.26
2,Albany,42.6001,-73.9662,70.95,77.31,72,59,8.99
3,Ushuaia,-54.8000,-68.3000,33.46,33.46,86,75,5.75
4,Micheweni,-4.9667,39.8333,76.21,76.21,80,2,12.64
...,...,...,...,...,...,...,...,...
700,Kintampo,8.0563,-1.7306,72.59,72.59,87,44,4.61
701,Camaná,-16.6228,-72.7111,63.41,63.41,78,3,4.38
702,Sirūr,18.8333,74.3833,72.99,72.99,93,100,18.28
703,Nova Borova,50.6930,28.6345,60.35,60.35,82,87,9.31
704,Hiriyūr,13.9456,76.6192,72.05,72.05,83,100,18.21

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [41]:
# Configure the gmaps
gmaps.configure(api_key = g_key)

# Store the Latitude and Longitude in Locations
locations = weather_cities_data[["Latitude", "Longtude"]]

# Store the Humidity
weight = weather_cities_data["Humidity"]

# create heat layer
fig = gmaps.figure()
# max_humidity = np.max(weight)
heat_layer = gmaps.heatmap_layer(locations, weights = weight,
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)
# add layer
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Create new DataFrame fitting weather criteria
# Narrow down the cities to fit weather conditions.
# Drop any rows will null values
new_city_df = weather_cities_data.loc[(weather_cities_data["Wind Speed"] <= 10) & (weather_cities_data["Clouds"] <= 20) & \
                                      (weather_cities_data["Max Temperature"] >= 85) & (weather_cities_data["Max Temperature"] <= 90)].dropna()
new_city_df

,City,Latitude,Longtude,Temperature,Max Temperature,Humidity,Clouds,Wind Speed
53,Lincoln,40.8000,-96.6670,84.78,87.01,58,20,5.01
123,Saint Anthony,45.0205,-93.2180,82.26,86.04,64,20,4.00
269,Inuvik,68.3499,-133.7218,85.87,86.76,48,20,5.75
313,Bairiki Village,1.3292,172.9752,86.00,86.00,70,20,6.91
479,Mâncio Lima,-7.6142,-72.8958,86.07,86.07,51,20,4.61
573,Marshall,34.3834,-86.3333,84.43,87.51,69,1,4.61
581,Mt. Pleasant,32.7941,-79.8626,86.83,89.01,70,20,1.01
583,Mayo,38.8876,-76.5119,83.62,89.02,65,20,1.01
589,Cayenne,4.9333,-52.3333,84.09,86.04,78,20,1.99
610,Guane,22.2025,-84.0875,89.08,89.08,56,3,0.72

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [36]:
# drop all rows with any NaN and NaT values
new_city_df = new_city_df.dropna()
new_city_df

,City,Latitude,Longtude,Temperature,Max Temperature,Humidity,Clouds,Wind Speed
53,Lincoln,40.8000,-96.6670,84.78,87.01,58,20,5.01
123,Saint Anthony,45.0205,-93.2180,82.26,86.04,64,20,4.00
269,Inuvik,68.3499,-133.7218,85.87,86.76,48,20,5.75
313,Bairiki Village,1.3292,172.9752,86.00,86.00,70,20,6.91
479,Mâncio Lima,-7.6142,-72.8958,86.07,86.07,51,20,4.61
573,Marshall,34.3834,-86.3333,84.43,87.51,69,1,4.61
581,Mt. Pleasant,32.7941,-79.8626,86.83,89.01,70,20,1.01
583,Mayo,38.8876,-76.5119,83.62,89.02,65,20,1.01
589,Cayenne,4.9333,-52.3333,84.09,86.04,78,20,1.99
610,Guane,22.2025,-84.0875,89.08,89.08,56,3,0.72

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [37]:
# create hotel_df 
hotel_df = new_city_df.loc[:, ["City", "Latitude", "Longtude"]]
# add hotel name to hotel_df
hotel_df["Hotel Name"] = ""

hotel_df

                City  Latitude  Longtude Hotel Name
53           Lincoln   40.8000  -96.6670
123    Saint Anthony   45.0205  -93.2180
269           Inuvik   68.3499 -133.7218
313  Bairiki Village    1.3292  172.9752
479      Mâncio Lima   -7.6142  -72.8958
573         Marshall   34.3834  -86.3333
581     Mt. Pleasant   32.7941  -79.8626
583             Mayo   38.8876  -76.5119
589          Cayenne    4.9333  -52.3333
610            Guane   22.2025  -84.0875

In [38]:
# set up a parameteres dictonary
params = {"type": "hotel",
          "Keyword": "hotel",
          "radius": 5000,
          "Key": g_key   
}
# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# run a request using the params dictionary
response = requests.get(base_url, params=params)

print(response.url)

https://maps.googleapis.com/maps/api/place/nearbysearch/json?type=hotel&Keyword=hotel&radius=5000&Key=AIzaSyDjAGdDXDe3nkHHk-2aSWQE1zRLVxP5i9I

In [39]:
# convert response to jason
hotel_data = response.json()

# print the json(pretty printed)
print(json.dumps(hotel_data, indent=4, sort_keys=True))

{
    "error_message": "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}

In [ ]:
# print the name of the hotel for each city
for index, row in hotel_df.iterrows():
    #get the city name, lat, and longtitude from df
    latitude = row["Latitude"]
    longitude = row["Longtude"]
    city_name = row["City"]

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure